.header-content {
  top: 0;
  position: relative;
  z-index: 1;

  &__container {
    @extend %container;
  }

  &__title {
    margin: 0;
    text-align: center;
    margin: 0 0 53px;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: $gap;
  }
}
